<div class="container">
  <div class="employee_dashboard">

    <h1>EMPLOYEE APPLICATION</h1>
    <%= link_to 'Show', employees_backoffice_employee_path(current_employee), class: "btn btn-primary"  %>

    <h4>EMPLOYEES</h4>

    <%= link_to 'NOVO', new_employees_backoffice_employee_path, class: "btn btn-secondary" %>

    <% @employees.each do |employee| %>

    <p><%= employee.id %> - <%= employee.email %> -
     <%= link_to 'Show', employees_backoffice_employee_path(current_employee) %> -
     <%= link_to 'Edit', edit_employees_backoffice_employee_path(current_employee) %> -
     <%= link_to 'Delete', employees_backoffice_employee_path(employee), method: :delete, data: { confirm: 'Are your sure?'} %> </p>
     <% end %>

   </div>
 </div>
