<div class="container">
  <div class="employee_dashboard">

    <h4><%= @user.name %></h4>

    <div class="employee_dashboard_btn">
      <%= link_to users_path do %>
      <i class="fas fa-chevron-circle-left"></i> Back
      <% end %>
    </div>

    <div class="employee_dashboard_border">
      <%= simple_form_for(@user) do |f| %>
      <%= f.input :name, label: 'Name' %>
      <%# <%= f.input :furigana %>
      <%= f.input :address %>
      <%= f.input :phone %>
      <%= f.input :email %>
      <% if @user.persisted? %>
      <% else %>
      <%= f.input :password %>
      <% end %>
      <%= f.input :factory %>
      <%# <%= f.input :role %>
      <%# <%= f.input :job_exp %>
      <%# <%= f.input :pay_number %>
      <%# <%= f.input :started_date %>
      <%# <%= f.input :licence1, as: :boolean %>
      <%# <%= f.input :healthy_exam %>
      <%# <%= f.input :drive_licence %>
      <%# <%= f.input :drive_licence_date %>
      <%# <%= f.input :document %>
      <%# <%= f.input :document_date %>
      <%# <%= f.input :passport %>
      <%# <%= f.input :passport_date %>
      <%= f.submit 'Edit', class: 'btn btn-secondary add-btn' %>
      <% end %>

    </div>
  </div>
</div>
