<div class="container">
  <div class="employee_dashboard">

    <h4><%= @user.name %></h4>

    <div class="employee_dashboard_btn">
      <%= link_to root_path do %>
      <i class="fas fa-chevron-circle-left"></i> Back
      <% end %>
      <%= link_to edit_user_path(current_user) do %>
      <i class="fas fa-edit"></i>
      <% end %>
    </div>

    <div class="employee_dashboard_border">
      <label>REF</label>
      <p><%= @user.ref %></p>
      <label>Name</label>
      <p><%= @user.name %></p>
      <label>Furigana</label>
      <p><%= @user.furigana %></p>
      <label>Adresses</label>
      <p><%= @user.address %></p>
      <label>Phone</label>
      <p><%= @user.phone %></p>
      <label>Email</label>
      <p><%= @user.email %></p>
      <label>Factory</label>
      <p><%= @user.factory %></p>
      <label>Role</label>
      <p><%= @user.role %></p>
      <label>Job exp</label>
      <p><%= @user.job_exp %></p>
      <label>Pay number</label>
      <p><%= @user.pay_number %></p>
      <label>Started date</label>
      <p><%= @user.started_date %></p>
      <label>Licence1</label>
      <p><%= @user.licence1 %></p>
      <label>Healthy exam</label>
      <p><%= @user.healthy_exam %></p>
      <label>Drive licence</label>
      <p><%= @user.drive_licence %></p>
      <label>Drive licence date</label>
      <p><%= @user.drive_licence_date %></p>
      <label>Document</label>
      <p><%= @user.document %></p>
      <label>Document date</label>
      <p><%= @user.document_date %></p>
      <label>Passport</label>
      <p><%= @user.passport %></p>
      <label>Passport date</label>
      <p><%= @user.passport_date %></p>
      <% @user.requests.each do |request| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= request.kind_of %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= request.amount %></h6>
          <p class="card-text"><%= request.request_reason %></p>
          <p><%= request.request_date %></p>
          <p><%= request.created_at %></p>
        </div>
      </div>
      <% end -%>

    </div>
  </div>
</div>
