<div class="container">
  <div class="employee_dashboard">

    <h4><%= @user.name %></h4>

    <div class="employee_dashboard_btn">
      <%= link_to users_path do %>
      <i class="fas fa-chevron-circle-left"></i> Back
      <% end %>
      <%= link_to edit_user_path(current_user) do %>
      <i class="fas fa-edit"></i> Edit
      <% end %>
    </div>

    <div class="employee_dashboard_border">
      <label>Name</label>
      <p><%= @user.name %></p>
      <label>Adresses</label>
      <p><%= @user.address %></p>
      <label>Phone</label>
      <p><%= @user.phone %></p>
      <label>Email</label>
      <p><%= @user.email %></p>
      <label>Factory</label>
      <p><%= @user.factory %></p>
    </div>

    <div class="employee_dashboard_btn">
      <h4>Requests</h4>
        <%= link_to new_user_request_path(current_user) do %>
        <p>Icone New Request</p>
        <% end %>
      </div>



      <div class="employee_dashboard_border">
        <% @user.requests.each do |request| %>
        <div class="request_box">
          <div class="request_box_data col-12">
            <h5 class="request_title"><%= request.name %></h5>
          </div>
          <div class="request_box_data col-3">
            <p><%= request.amount %></p>
          </div>

          <div class="request_box_data col-3">
            <p><%= request.request_reason %></p>
          </div>

          <div class="request_box_data col-3">
            <p><%= request.request_date %></p>
          </div>

          <div class="request_box_data col-3">
            <p><%= request.created_at %></p>
          </div>

        </div>
        <% end -%>
      </div>
    </div>
  </div>
