<div class="navbar navbar-expand-sm navbar-dark navbar-lewagon">
  <div class="container navbar-flex">
    <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "kazan_icon.svg" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
    <p class="navbar_user_name"><%= current_user.name %></p>
    <% end %>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? && current_user.role_name == "admin" %>
        <li class="nav-item">
          <%= link_to "Admin", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", company_path(current_user.company_id), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% elsif user_signed_in? && current_user.role_name == "director" %>
        <li class="nav-item">
          <%= link_to "Company", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", company_path(current_user.company_id), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% elsif user_signed_in? && current_user.role_name == "manager" %>
        <li class="nav-item">
          <%= link_to "Manager", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", company_path(current_user.company_id), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% elsif user_signed_in? && current_user.role_name == "employee" %>
        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Requests", company_path(current_user.company_id), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
