<%= render 'shared/navbar' %>

<section id="Home">
    <div class="container">
        <div class="Home_container">
            <%= image_tag "kazan_logo.png", class: "img-responsive home_logo" %>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-2">
                <i class="fas fa-border-style"></i>
                <h4>Dashboard</h4>
            </div>
            <div class="col-sm-4 col-md-2">
                <i class="fas fa-user-tie"></i>
                <h4>Tantosha control</h4>
            </div>
            <div class="col-sm-4 col-md-2">
                <i class="fas fa-users"></i>
                <h4>Employees control</h4>
            </div>
            <div class="col-sm-4 col-md-2">
                <i class="fas fa-tasks"></i>
                <h4>Tasks control</h4>
            </div>
            <div class="col-sm-4 col-md-2">
                <i class="fas fa-industry"></i>
                <h4>Factory control</h4>
            </div>
            <div class="col-sm-4 col-md-2">
                <i class="fas fa-user"></i>
                <h4>Personal dashboard</h4>
            </div>
        </div>
    </div>
</section>

<section id="dash">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 dash-info">
                <div class="dash-info-content">
                    <h1 class="">Keep all control</h1>
                    <p>Keep all control of your company in just one place.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">            
                <%= image_tag "dash.png", class: "img-responsive dash-preview" %>
            </div>
        </div>
    </div>
</section>

<section id="dash">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">            
                <%= image_tag "emplo.png", class: "img-responsive dash-preview" %>
            </div>
            <div class="col-sm-12 col-md-6 dash-info">
                <div class="dash-info-content">
                    <h1 class="">Employees</h1>
                    <p>Keep all control of your employees.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="dash">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 dash-info">
                <div class="dash-info-content">
                    <h1 class="">Requests</h1>
                    <p>Keep all control of all your employees requests.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">            
                <%= image_tag "request.png", class: "img-responsive dash-preview" %>
            </div>
        </div>
    </div>
</section>

<section id="break1">
    <div class="container">
        <div class="row">
            <div class="break-content">
                <h2>Make the difference</h2>
                <p>Save time, money and energy.</p>
                <button type="button" class="btn btn-red">START NOW</button>
            </div>
        </div>
    </div>
</section>
<footer class="footer-lp">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 text-left">
                <%= image_tag "kazan_logo.png", class: "img-responsive home_logo" %>
            </div>
            <div class="col-sm-12 col-md-4 footer-sns">
                <div class="footer-sns-links">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 footer-menu">
                <ul class="">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Price</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</footer>
<section id="copyright">
  <p>Kazan - All rights reserved.</p>
</section>