<!DOCTYPE html>
<html>
<head>
  <title>Kazan - Keep all control</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
  <div>
    <%= yield %>
  </div>
  <%= render 'shared/flashes' %>
</body>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 text-left">
                <%= image_tag "kazan_logo.png", class: "img-responsive home_logo" %>
            </div>
            <div class="col-sm-12 col-md-4 footer-sns">
                <div class="footer-sns-links">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 footer-menu">
                <ul class="">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Price</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</footer>
<section id="copyright">
  <p>Kazan - All rights reserved.</p>
</section>
</html>
