<!DOCTYPE html>
<html>
<head>
  <title>EmpreiteiraTest</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>
  <%= render 'shared/navbar' %>
  <div>
    <h1>EMPLOYEE APPLICATION</h1>
    <%= link_to 'Employees', employees_backoffice_employees_path, class: "btn btn-primary"  %>
    <%= yield %>
  </div>
  <%= render 'shared/flashes' %>
</body>
</html>
